:root {
    --font: 'Red Hat Display', sans-serif;
    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);
    --OpaBrightblue: hsl(245, 68%, 62%);
    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsla(224, 23%, 55%, 5%);
    --Darkblue: hsl(223, 47%, 23%);
    font-size: 14px;
}



body {    
    margin: 0;
    padding: auto 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--font);
    background-color: #E0E8FF;
    background-image: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
}

main {
    max-height: 80vh;
    max-width: 345px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
}

.banner img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    max-width: 345px;

}

.description {
    padding: 0 2rem;
}

h1 {
    font-weight: 900;
}

h2, h3 {
    font-weight: 700;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

h3 {
    display: flex;
    color: grey;
}

h4 {
    text-decoration: underline;
    font-size: .9 rem;
    font-weight: 700;
    color: var(--Brightblue);
}

h4:hover {
    cursor:pointer;
    text-decoration: none;
    color: var(--OpaBrightblue);
}
p {
    font-size: 1rem;
    font-weight: 500;
    color: grey;
}

.pricing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--Desaturatedblue);
    margin: 1.5rem;
    border-radius: 10px;
    padding: 1rem 0;
}

.pricing img {
    height: 50px;
    width: 50px;
}

.plan {
    display: flex;
    flex-direction: column;
}

.button {
    background: var(--Brightblue);
    color: white;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 10px 15px hsl(222, 62%, 71%);
}

.button:hover {
    cursor:pointer;
    background: var(--OpaBrightblue);
}

.cancel {
    margin-bottom: 1.5rem;
    color: grey;
}
.cancel:hover {
    cursor:pointer;
    color:black;
}

@media screen and (min-width: 376px) {
    body {    

        background-image: url(images/pattern-background-desktop.svg);
        background-size: contain;
        
    }
}